*.icon-white {
	color: white
}

*.icon-silver {
	color: silver
}

*.icon-green {
	color: green
}

*.icon-blue {
	color: #0d6efd
}

*.icon-dark {
	color: gray
}

body {
	margin: auto;
}

a {
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	/* small screen */
	div.full-details {
		display: none
	}
	div.less-details {
		display: block;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	/* medium screen */
	div.full-details {
		display: block;
	}
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: none
	}
}

@media screen and (min-width: 1024px) {
	/* small screen */
	div.less-details {
		display: none;
	}
	.hideable-column {
		display: table-cell;
	}
}

.form-check-label {
	padding-top: 7.5px;
}