<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-2 g-lg-3">
				<!-- Main image -->
				<div class="col">
					<div class="col my-3 border rounded px-3 pb-3 pt-2">
						<div>
							<label class="text-primary" for="fileImage"
								style="text-overflow: ellipsis; white-space: nowrap; width: 100%; overflow: hidden;">Main
								Image: [[${product.mainImage}]]</label>
						</div>
						<div class="align-middle text-center">
							<img alt="Main images previews"
								th:src="@{${product.mainImagePath}}"
								class="mx-auto d-block img-fluid" />
						</div>
					</div>
				</div>

				<!-- Extra images -->
				<th:block th:each="extraImage, status : ${product.images}">
					<div class="col">
						<div class="col my-3 border rounded px-3 pb-3 pt-2">
							<div class="align-middle"
								th:id="'extraImageHeader' + ${status.index}">
								<label class="text-primary align-middle"
									th:for="'extraImage' +${status.index}"
									style="text-overflow: ellipsis; white-space: nowrap; width: 90%; overflow: hidden;">Extra
									Image #[[${status.index + 1}]]: [[${extraImage.name}]]</label>
							</div>
							<div class="align-middle text-center">
								<img th:alt="'Extra image #' + ${status.index + 1} + ' preview'"
									th:src="@{${extraImage.extraImagePath}}"
									class="mx-auto d-block img-fluid" />
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
</body>
</html>