<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="pt-3 mx-auto ps-4">
			<div class="form-group row">
				<p>
					Các thông tin dưới đây được dùng để tính toán phí vận chuyển hàng
					hóa. <br /> Vui lòng điền các giá trị dài (L), rộng (W), cao (H)
					để xác định kích thước thùng dùng để đóng gói hàng hóa.
				</p>
			</div>
			<div class="input-group mb-4 row">
				<label class="col-sm-2 col-form-label">Length (cm)</label>
				<div class="col-sm-10">
					<input type="number" class="form-control"
						th:value="${product.length}" readonly="readonly" />
				</div>
			</div>
			<div class="input-group mb-4 row">
				<label class="col-sm-2 col-form-label">Width (cm)</label>
				<div class="col-sm-10">
					<input type="number" class="form-control"
						th:value="${product.width}" readonly="readonly" />
				</div>
			</div>
			<div class="input-group mb-4 row">
				<label class="col-sm-2 col-form-label">Height (cm)</label>
				<div class="col-sm-10">
					<input type="number" class="form-control"
						th:value="${product.height}" readonly="readonly" />
				</div>
			</div>
			<div class="input-group row">
				<label class="col-sm-2 col-form-label">Weight (g)</label>
				<div class="col-sm-10">
					<input type="number" class="form-control"
						th:value="${product.weight}" readonly="readonly" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>