<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
.fullDiscription img {
	width: 100%;
	height: auto;
}
</style>
<head th:replace="~{fragments :: page_head(${pageTitle}, 'none')}">
</head>
<body>
	<div class="container">
		<div th:replace="~{navigation :: header_menu}"></div>
		<div th:replace="~{fragments :: search_form('/search')}"></div>
		<div th:replace="~{breadcrumb :: content}"></div>
		<div class="row">
			<div class="product_detail-header">
				<div class="product_detail-title">
					<h4 style="text-align: justify;">[[${product.name}]]</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6 p-3">
					<div id="carouselExampleInterval" class="carousel slide"
						data-bs-ride="carousel">
						<div class="carousel-inner" style="height: 450px;">
							<div class="carousel-item active text-center"
								style="height: fit-content; line-height: 450px;">
								<img th:src="@{${product.mainImagePath}}" class="img-fluid"
									alt="Main Image" style="width: 75%; object-fit: cover;" />
							</div>
							<th:block th:each="extraImage : ${product.images}">
								<div class="carousel-item text-center"
									style="height: fit-content; line-height: 450px;">
									<img th:src="@{${extraImage.extraImagePath}}"
										class="img-fluid center-block" alt="Main Image"
										style="width: 75%; object-fit: cover;" />
								</div>
							</th:block>
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#carouselExampleInterval" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

					<div class="row justify-content-center mt-4">
						<div class="col text-center mb-2">
							<img class="image-thumbnail border"
								th:src="@{${product.mainImagePath}}" alt="Main image"
								height="60" />
						</div>
						<th:block th:each="extraImage : ${product.images}">
							<div class="col text-center mb-2">
								<img class="image-thumbnail border"
									th:src="@{${extraImage.extraImagePath}}" alt="Extra image"
									height="60" />
							</div>
						</th:block>
					</div>
				</div>


				<div class="col-12 col-lg-6 p-3">
					<div class="product_detail-top-right-below">
						<div class="product-detail-info">
							<div class="product-summary-item">
								<div>
									<span><b>Brand:</b> [[${product.brand.name}]]</span>
								</div>
								<div th:if="${product.discountPercent <= 0}">
									<b>List Price: </b>
									<b class="text-danger">
										<th:block
												th:replace="product/product_fragment::price_fragment(${product.price})"></th:block>
									</b>
								</div>
								<div th:if="${product.discountPercent > 0}">
									<b>List Price: </b>
									<span class="text-secondary text-decoration-line-through">
										<th:block
												th:replace="product/product_fragment::price_fragment(${product.price})"></th:block>
									</span>
								</div>
								<div th:if="${product.discountPercent > 0}">
									<b>Price: </b><span class="text-danger">
											<th:block
												th:replace="product/product_fragment::price_fragment(${product.discountPrice})"></th:block>
										</span>
										<span>( [[${#numbers.formatDecimal(product.discountPercent, 1, THOUSANDS_POINT_TYPE, 2, DECIMAL_POINT_TYPE)}]]%
										OFF)</span> <span th:if="${product.inStock}"><b
										class="text-success"> In Stock</b></span> <span
										th:unless="${product.inStock}"><b class="text-danger">
											Out Of Stock</b></span>
								</div>
								<div th:utext="${product.shortDescription}" class="ps-3"></div>
							</div>
							<div class="row g-3 align-items-center">
								<div class="col-auto">
									<label for="quantity" class="col-form-label fw-bold">Quantity</label>
								</div>
								<div class="col-2">
									<input type="text" id="quantity"
										class="form-control text-center" value="1" />
								</div>
							</div>
							<div class="mt-3">
								<input type="button" class="btn btn-danger" value="Add To Cart" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="">
				<h4>Key Features and Benefits:</h4>
				<div class="col-10 mx-auto" id="divProductDetails">
					<table
						class="table table-bordered table-striped table-hover table-responsive-xl">
						<thead class="table-dark">
							<tr>
								<th class="text-center align-middle">Name</th>
								<th class="text-center align-middle">Values</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="detail : ${product.details}">
								<td class="align-middle w-25">[[${detail.name}]]</td>
								<td class="align-middle">[[${detail.value}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="">
				<div class="col-12">
					<h4>Product Description</h4>
					<div class="fullDiscription" th:utext="${product.fullDescription}"></div>
				</div>
			</div>
		</div>
		<div class="row"></div>

		<div th:replace="~{product/images_carousel :: content}"></div>
		<div th:replace="~{navigation :: footer_menu}"></div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".image-thumbnail").mouseover(function() {
				bigImage = $(".carousel-item.active>img");
				currentImageSource = $(this).attr("src");
				bigImage.attr("src", currentImageSource);
			})
			bigImage = $(".carousel-item>img");
			bigImage.on("click", function() {
				$("#carouselModal").modal("show");
			})
		})
	</script>
</body>
</html>