<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div
			th:if="${listCategoryParents != null && !listCategoryParents.empty}"
			class="mt-3">
			<div class="row">
				<div class="col">
					<nav style="-bs-breadcrumb-divider: '&gt;';"
						aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<th:block th:each="category : ${listCategoryParents}">
								<li class="breadcrumb-item"><a
									th:href="@{'/c/' + ${category.alias}}">[[${category.name}]]</a>
								</li>
							</th:block>
							<li th:if="${product.alias != null}" class="breadcrumb-item"><a
								th:href="@{'/p/' + ${product.alias}}" class="text-break">[[${product.shortName}]]</a></li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>